.single-event{
    margin-top: 2rem;
    text-align: center;
}

.single-event > h1 {
    border: 4px solid #eac7d9;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 1rem 2rem;
}

.desc-img{
    width: 5rem;
    margin: 1rem;
}

.address-img{
    width: 5rem;
}

.date-img{
    width: 5rem;
    margin-top: 1rem;
}

.link-img{
    width: 3rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.info-img{
    width: 50px;
    padding-right: 0.4rem;
}

.desc-block{
    border: 1px solid black;
    margin: auto;
    margin-top: 1rem;
    width: 85%;
    display: flex;
}

.desc{
    padding: 0.5rem;
    margin: auto;
}

.event-container{
    padding: 20px;
    margin-left: 11rem;
    margin-right: 11rem;
    font-size: 1.6em;
}

.event-box{
    height: 12rem;
    background-color: white;
    padding: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-admin{
    background-color: white;
    padding: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-admin > button {
    margin-bottom: 1rem;
}

.admin-section{
    margin-top: 6rem;
}

.admin-section > h2 {
    margin-bottom: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.event-desc{
    overflow-x: scroll;
    display: block;
    scroll-behavior: smooth;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

.att {
    background-color: #802f59;
    border-color: #802f59 !important;
}

.att:hover{
    background-color: white !important;
    color: #802f59;
    border-color: #802f59;
}

.event-subhead{
    font-size: 1.2rem;
    text-align: center;
}

.my-col{
    padding: 0 !important;
    margin: 0;
}

.margin-padding{
    margin-left: 20px;
    margin-right: 20px;
}

.event-title{
    font-size: 3rem;
}



@media only screen and (max-width: 720px) {
    .event-container{
        padding: 20px;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.2em;
    }

    .margin-padding{
        margin-left: 0px;
        margin-right: 0px;
    }

    .event-desc{
        height: fit-content;
    }

    .event-title{
        font-size: 2rem;
    }
    
    
  }