.admin-home-main-container{
    justify-content: space-around;
}

.row{
    margin: 0;
    padding: 0;
}

.admin-home-main-container-left{
    text-align: center;
}

.admin-home-welcome{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.admin-home-users, .admin-home-events{
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.admin-home-btn{
    background-color: #802f59;
    border-color: #802f59;
    color: white;
    width: 100%;
}

.admin-home-btn:hover{
    color: white;
}

.admin-home-events-count, .admin-home-users-count {
    font-size: 7rem;
    font-weight: 700;
    color: #802f59;
}

.admin-home-main-container-right{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-home-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 80vh;
}

.user-argusoft-banner{
    color: #802f59;
}

.user-head-banner{
    display: block;
}

.user-head-welcome{
    display: block;
}