.admin-home-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.admin-home-main-container-left{
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 50vw;
    margin-left: 20px;
    margin-right: 20px;
}

.admin-home-main-container-right{
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 30vw;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 5px;
}