.rbc-event , .rbc-selected{
    background-color: #802f59 !important;
    border: none !important;
}

.rbc-toolbar-label{
    color: #802f59;
    font-weight: bold;
}

.calendar-main{
    margin-top: 3rem;
    width: 70%;
    border-radius: 7px;
}




@media only screen and (max-width: 720px) {
    .calendar-main{
        margin-top: 3rem;
        width: 90%;
    }

    .rbc-toolbar-label{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    
  }